@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

@layer base {
  body { @apply bg-bg text-text; }
}

*::-webkit-scrollbar { height: 10px; width: 10px; }
*::-webkit-scrollbar-thumb { border-radius: 9999px; background: #d9d4ca; }
